/*generali*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka One', cursive;
  font-family: 'Open Sans', sans-serif;
}

.d-flex {
  display: flex;
}

.debug{
  border: 1px solid ;
}

a{
  text-decoration: none;
}

ul {
  margin-left: 15px;
  list-style-type: none;
}

li{
  margin-bottom: 10px;
}

h3{
  font-size: 2rem;
  margin-bottom: 10%;
}

h4{
  margin: 20px 0px 20px; 
}

/*header*/

.container-1{
  position: fixed;
  background-color: white;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-1 .logo {
  margin: 20px;
}

.container-1 .menu nav ul li{
  display: inline-block;
}

.container-1 .menu nav ul li a{
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

.blocco{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottone{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 70px;
  background-color: blue;
 }

/*main*/

/*primo blocco*/
.primo-blocco{
  padding: 5%;
  background-color: rgb(8, 131, 212);
  width: 100%;
  /* display: flex; */
}

.sezione-testo{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

h1{
  width: 335%;
  font-size: 4rem;
}

.contenitore{
  display: flex;
  justify-content: space-between;
}

.contenitore span.direzione.sopra{
  display: flex;
  justify-content: center;
  padding: 10px 0px 0px 0px;
}

.contenitore span.direzione.sotto{
  display: flex;
  justify-content: center;
  padding: 0px 0px 0px 0px;
}

.contenitore span.direzione.sotto-2{
  width: 60%;
  display: flex;
  justify-content: center;
  padding: 10px 0px 0px 0px;
}

img{
  width: 60%;
}

/*blocco 2*/


.sezione-testo-2{
  margin-bottom: 5%;
}

.container-2{
  width: 100%;
  padding: 10%;
}

.colonne .col{
  width: calc(100% / 3);
  height: 300px;
  float: left;
}

.col{
  width: 120px;
  height: 300px;
  float: left;
}

.colonne span{
  display: flex;
  justify-content: center;
}

.colonna-1 {
  float: left;
  width: 30%;
  margin: 1%;
}

.colonna-2 {
  float: left;
  width: 30%;
  margin: 1%;
}

.colonna-3 {
  float: left;
  width: 30%;
  margin: 1%;
}

.colonne .colonna-1,
.colonne .colonna-2,
.colonne .colonna-3{
  height: 800px;
}

span.primo-riquardo{
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

li.prova{
  margin-top: 20%;
  text-align: center;
  color: white;
  width: 90%;
  background-color: blue;
  padding: 1%;
}

li.mese{
  color: rgb(175, 175, 221);
  margin-bottom: 10%;
}

li.lista-destra{
  display: flex;
  justify-content: center;
  width: 30%;
  color: white;
  margin: 0px 50px 0px 0px;
  background-color: blue;
  float: right;
}

hr.linea{
  margin-bottom: 20%;
  margin-right: 90%;
}
.fa-solid.fa-check{
  color: cornflowerblue;
}

.colonna-4{
  width: 100%;
}
.contenitore-2{
  margin-top: 10%;
  float: left;
  display: flex;
  width: 94%;
  margin-left: 1%;

}



/*footer*/